@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Myriad";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../public/fonts/myriad-web-pro.ttf) format("ttf");
}
